{% extends "admin_layout.html" %}
{% block body %}
  {% if session.logged_in %}

    <h2>{{ candidate.name }}</h2>

    <form method="POST">
      <label>name:</label> <input name="name" value="{{ candidate.name }}" /><br/>
      <label>email:</label> <input name="email" value="{{ candidate.email }}"/><br/>
      <label>send results to:</label> <input name="notify_emails" value="{{ candidate.notify_emails }}"/><br/>

      Assigned problems:<br/>
      <ul>
        {% for problem in all_problems %}
          <li><input type="checkbox" name="problem" value="{{ problem.id }}" checked="{{ problem in candidate.problems }}">{{ problem.name }}</li>
        {% endfor %}

        <input type="submit"/>
    </form>

    <script type="text/javascript">
      $("ul").sortable();
    </script>
    
  {% endif %}
  
{% endblock %}
